body {
  background: #eee;
}
iframe.sense3 {
  border: none;
  overflow: hidden;
}
h1 {
  text-align: center;
}
.container {
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
  background: #fff;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
table {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
table > thead > tr > th,
table > tbody > tr > th,
table > thead > tr > td,
table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 10px auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 707px;
  text-align:left;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  max-width: 728px;
  white-space: pre-wrap;
}
.text-center {
  text-align:center;
}
@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
    padding: 0 15px;
    width: calc(50% - 30px);
  }
}
h2, h3, h4, .clearfix {
  clear: left;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
